[defaults]
inventory = inventories/prod/hosts.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
display_args_to_stdout = False
no_target_syslog = True

[privilege_escalation]
become = True
become_method = sudo
