<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Ansible Datascientest</title>
</head>
<body>
  <h1>{{ serveurweb_message }}</h1>
  <p>Hôte Ansible : {{ inventory_hostname }}</p>
  <p>Tier : {{ tier }}</p>
</body>
</html>
