DJANGO_SECRET_KEY={{ django_secret_key }}
DJANGO_DEBUG={{ django_debug | ternary('true', 'false') }}
DJANGO_ALLOWED_HOSTS={{ django_allowed_hosts }}
DJANGO_SETTINGS_MODULE={{ django_settings_module }}
POSTGRES_DB={{ postgresql_database }}
POSTGRES_USER={{ postgresql_user }}
POSTGRES_PASSWORD={{ postgresql_password }}
POSTGRES_HOST={{ postgresql_host }}
POSTGRES_PORT={{ postgresql_port }}
